[package]
name = "cripta"
version = "0.1.0"
edition = "2021"
rust-version = "1.74"

[patch.crates-io]
tokio-rustls = { git = "https://github.com/rustls/tokio-rustls", rev = "3a153acec6c4d189eb5de501b2155b4484b8651b" } # main

[features]
mtls = ["dep:rustls", "dep:rustls-pemfile"]
aws = ["dep:aws-config", "dep:aws-sdk-kms", "axum-server/tls-rustls"]
release = ["aws","mtls"]

[dependencies]
error-stack = "0.4.1"
thiserror = "1.0.58"
aws-config = { version = "1.5.0", optional = true}
aws-sdk-kms = { version = "1.29.0", optional = true}
axum = { version = "0.7.5", features = ["macros"] }
axum-server = {git = "https://github.com/dracarys18/axum-server.git",rev ="5430efefd14b43cbbc8e4faa50ff9274b8b8b7aa"}
base64 = "0.22.1"
tokio = { version = "1.37.0", features = ["macros", "rt-multi-thread"] }
serde = { version = "1.0.202", features = ["derive"] }
serde_json = "1.0.117"
masking = { git = "https://github.com/juspay/hyperswitch", rev = "ec451c0c81b6ebbd719a8706c019f418bd98e754" }
router_env = { git = "https://github.com/juspay/hyperswitch", rev = "ec451c0c81b6ebbd719a8706c019f418bd98e754" }
async-trait = "0.1.80"
hex = "0.4.3"
ring = { version = "0.17.8", features = ["std"] }
strum = { version = "0.26", features = ["derive"] }
futures = "0.3.30"
time = { version = "0.3.36", features = ["parsing"]}
diesel = { version = "2.1.3", features = ["postgres", "serde_json", "time"] }
diesel-async = { version = "0.4.1", features = ["postgres", "bb8"] }
config = { version = "0.14.0", features = ["toml"] }
serde_path_to_error = "0.1.16"
moka = { version = "0.12", default-features = false, features = ["future"]}
rustls = { version = "0.23.10", default-features = false, optional = true}
rustls-pemfile = {version = "2.1.2", default-features = false, features = ["std"], optional=true }
rustc-hash = "1.1.0"
rayon = "1.10.0"
once_cell = "1.19.0"
hyper = "1.3.1"

[profile.release]
strip = true
lto = true
codegen-units = 1

[[bin]]
name = "cripta"
path = "src/bin/cripta.rs"

[lints.rust]
unsafe_code = "forbid"
rust_2018_idioms = { level = "warn", priority = -1 }

[lints.clippy]
as_conversions = "warn"
expect_used = "warn"
missing_panics_doc = "warn"
panic = "warn"
panic_in_result_fn = "warn"
panicking_unwrap = "warn"
todo = "warn"
unimplemented = "warn"
unreachable = "warn"
unwrap_in_result = "warn"
unwrap_used = "warn"
use_self = "warn"

